@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
*{
    font-family: 'Inter', sans-serif;
}
body{
    background-color: rgb(255, 255, 255);
    margin: 0px;
}
.agente{
    font-size: 24px;
    /* width: 60px; */
    margin:5px;
    /* margin-left: 10px;
    margin-right: 10px; */
    border-radius: 5px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 1px 10px rgb(168, 168, 168);

    color:rgb(32, 32, 32);
    transition: box-shadow  1s ease; 
}

#tabellone{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    word-wrap: break-word;
    padding: 10px;
    margin: 20px;
    margin-left: 0px;
    margin-right: 0px;
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 1px 10px rgb(202,202,202);
}
.agente p{
    margin: 10px;
    cursor:pointer;
}
.agente p::first-letter{
    text-transform: uppercase;
}

.passante{
    background-color: rgb(255, 223, 159);
    color: rgb(20, 20, 20);
    box-shadow: 1px 1px 10px rgb(255, 223, 159);
}
.blu{
    background-color: rgb(58, 123, 209);
    color: white;
    box-shadow: 1px 1px 10px rgb(58, 123, 209)

}

.red{
    background-color: rgb(255, 70, 70);
    color: white;
    box-shadow: 1px 1px 10px rgb(255, 70, 70);

}


.nero{
    background-color: rgb(22, 22, 22);
    color: white;
    box-shadow: 1px 1px 10px rgba(22, 22, 22, 0.52);

}
.barrato{
    opacity: 0.4;
    filter: brightness(0.7);
    box-shadow: none;

}
.filter{
    /* opacity: 0.4; */
    filter: brightness(0.8);
    box-shadow: none;
}
a{
    text-decoration: none;
    color: unset;
}
button{
color: white;
font-size: 16px;
padding: 10px 25px 10px 25px;
height: auto;
border-radius: 25px;
line-height: 1.5;
margin: 10px;
background-color: rgb(255, 148, 25);
box-shadow: 0px 10px 0px rgb(219, 132, 32);
border:none;
cursor: pointer;

}
button:active{
    box-shadow: 0px 5px 0px rgb(219, 132, 32);
    transform: translate(0px, 5px)
}
#nuova_partita_button button{
    background-color: teal; 
    box-shadow: 0px 10px 0px rgb(5, 100, 100);
}
#nuova_partita_button button:active{
    box-shadow: 0px 5px 0px rgb(5, 100, 100);
    transform: translate(0px, 5px)
}

#share
{
    display: flex;
    align-content: center;
    padding-top: 20px;
    flex-direction: column;
    align-items: center;
    /* background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 6px rgb(202 202 202); */
}
#share div{
    display: flex;
    padding: 5px;
    margin: 0px;
    margin-left: 0px;
    margin-right: 0px;

    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
#share p{
    margin: 0px;
    margin-top: 20px;
    text-align: center  ;
    font-weight: bold;
    color: rgb(2, 2, 2);
    font-size: 18px;
}
#link_capitani button{
box-shadow: unset;
    background-color: rgb(255, 255, 255);
    border: 1px black solid;

    color: black
}
#link_agenti button{
box-shadow: unset;
    background-color: rgb(255, 255, 255);
    border: 1px black solid;
    color: black
}


#start{
    
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 20vh;

}
#start button{
    background-color: rgb(255, 28, 58);
    box-shadow: 0px 10px 0px rgb(196, 27, 50);
    font-size: 26px;
}
#start button:active{
    box-shadow: 0px 5px 0px rgb(196, 27, 50);
    transform: translate(0px, 5px)

}


.hidden{
    display: none;
}

@media (min-width:700px){  

#tabellone{
   
   
    width: 650px;
    margin-right: auto;
    margin-left: auto;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;



}
p{
    font-size: 26px;
}
.agente{
    margin: 10px;
}
}

